nav {
    background-color: rgb(61, 98, 85);
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

nav a {
    color:  white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

nav a:hover {
    background-color: #444;
}

.sobre {
    background-color: rgb(127, 206, 38);
    color: rgb(28, 107, 31);
    padding: 2rem;
    text-align: center;
}

.foto-perfil {
    width:200px;
    height:200px;
    object-fit: cover;
    border-radius: 50%;

}